{% extends "base.twig.html" %}

{% block content %}
        <div>
            {% for word in data %}
                <span>Word : {{ word.wordString }}</span> <br>
                <span>Hyphenated Word : {{ word.syllabifiedString }}</span> <br>
                Patterns: <br>
                {% for pattern in word.patterns %}
                    <br>{{ pattern }}
                {% endfor %}
                <br>
            <a href="/word/edit/{{ word.wordId }} "><span> Edit </span></a> <br><br>
            {% endfor %}
        </div>
{% endblock %}